users_db.json
users_db.json.bak
users_db.json.tmp
*.session
*.session-journal
.env
__pycache__/

# Baza fayllari
NeonShop-main/
__pycache__/
data/

# Build va paketlar
node_modules/
dist/
package-lock.json
